{% extends 'base.html.twig' %}

{% block title %}Category index{% endblock %}

{% block body %}
    <h1 style="text-align: center; margin-top: 50px">TO DO CATEGORIES BY USER</h1>

    <table class="table">
        <thead>
            <tr style="text-align: center">
                <th>Categories</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody style="text-align: center">
        {% for category in categories %}
            <tr>
                <td>{{ category.name }}</td>
                <td>
                    <a style="color: deepskyblue;" href="{{ path('category_show', {'id': category.id}) }}">SHOW</a>&nbsp;&nbsp;
                    <a style="color: #f0ca45" href="{{ path('category_edit', {'id': category.id}) }}">EDIT</a>&nbsp;&nbsp;
                    <a style="color: green" href="{{ path('task_index', {'category_id': category.id}) }}">TO DO TASK</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="3">No Records Found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    <div style="text-align: center">
        <a style="color: #F5871F" href="{{ path('category_new') }}">CREATE NEW CATEGORY</a>
    </div>

{% endblock %}
