{% extends 'base.html.twig' %}

{% block title %}Yapılacaklar{% endblock %}

{% block body %}
    <div class="limiter">
        <div class="container-table100">
            <div class="wrap-table100">
                <div class="table100 ver1 m-b-110">
                    <div class="table100-head">
                        <table>
                            <thead>
                            <tr class="row100 head">
                                <th class="cell100 column1" style="text-align: left !important;">Görev Adı</th>
                                <th class="cell100 column2">Düzenle</th>
                                <th class="cell100 column3">Sil</th>
                                <th class="cell100 column4">Durum</th>
                            </tr>
                            </thead>
                        </table>
                    </div>

                    <div class="table100-body js-pscroll">
                        <table>
                            <tbody>
                            {% for task in tasks %}
                                <tr class="row100 body">
                                    <td class="cell100 column1" style="text-align: left !important;">{{ task.name }}</td>
                                    <td class="cell100 column2">
                                        <a style="color: #ffffff"  class="btn btn-warning" href="{{ path('task_edit', {'id': task.id}) }}">Düzenle</a>
                                    </td>
                                    <td class="cell100 column3">
                                        <form method="post" action="{{ path('task_delete', {'id': task.id}) }}" onsubmit="return confirm('Emin misiniz?');">
                                            <input type="hidden" name="_method" value="DELETE">
                                            <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ task.id) }}">
                                            <button style="color: #ffffff" class="btn btn-danger">Sil</button>
                                        </form>
                                    </td>
                                    <td class="cell100 column4">
                                        <a style="color: #ffffff;" href="{{ path('task_done', {'id': task.id}) }}"  class="btn btn-dark" >Yapıldı!</a>
                                    </td>
                                </tr>
                            {% endfor %}
                            </tbody>
                        </table>


                    </div>
                    <div style="text-align: center;     margin: 80px 0 20px 0;">
                        <a style="color: #ffffff" href="{{ path('task_new', {'category_id': category.id}) }}" class="btn btn-success">Yeni Görev Oluştur</a>
                    </div>
                </div>

            </div>
        </div>
    </div>
{% endblock %}


